* {
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif; /*chamando a font escolhida do google fonts*/
  font-size: 16px;
  color: var(--color-copy);
}
body {
  margin: 0;
}

header,
main,
footer {
  overflow-x: hidden;
}

ul {
  display: flex; /*Colocar a lista no modo horizontal*/
  list-style: none; /*removendo o button da lista*/
  padding-left: 0; /*deslocar a lista para esquerda*/
}

/* Tablet */
/* @media screen and (min-width: 720px) {
  :root {
    font-size: 2.25vw;
  }
} */

/* Desktop */
/* @media screen and (min-width: 1280px) {
  :root {
    font-size: 16px;
  }
} */

