@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif; /*chamando a font escolhida do google fonts*/
  font-size: 16px;
  color: #333;
  --color-primary: #ffc500;
  --default-padding: 1rem;
}
body {
  margin: 0;
  /* margin: .625rem; /*divisão de 10/16*/
  padding-top: 7.75rem;
  /*background-color: #000;*/
  overflow-x: hidden;
}

header,
main,
filter {
  overflow-x: hidden;
}

ul {
  display: flex; /*Colocar a lista no modo horizontal*/
  list-style: none; /*removendo o button da lista*/
  padding-left: 0; /*deslocar a lista para esquerda*/
}

.navbar {
  position: fixed;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 9fr; /*logo tenha 1 fração da barra de navegação e também que o resto do conteúdo seja 9 frações*/
  align-items: center; /*Centralizar os itens*/
  top: 0;
  left: 0;

  width: 100vw;
  height: 7.75rem; /*altura da nav*/
  padding: 0 1rem;

  background-color: #000; /*vermelho/ verde / azul / transparência -0 - F*/
  color: #fff;
}

.navbar__links {
  justify-self: end; /*Propriedade de alinhamento para elemntos que estão dentro de um grid*/
}
.navbar__links li {
  font-size: 0.875rem; /*14 pixel /16 pixel*/
  margin-right: 3rem; /*definido o espaçamento entre as opções da lista empresas, eventos, galeria, depoimento, contatos*/
  text-transform: uppercase; /*esse metodo determina que as letras da lista fiquem em caixa alta idependente de como esta no arq. html*/
}

.navbar__links a {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.navbar__links a:hover {
  color: var(--color-primary);
}

.logo-studion {
  font-size: 2.375rem; /*Aumenta o tamago da fonte no caso a logo*/
  font-weight: 900;
  line-height: 1ch; /*altura da linha*/
  text-transform: uppercase; /*caixa alta*/
  text-align: right; /*Alinha de texto*/
}

.logo-studion__subtitle {
  font-size: 0.875rem;
  font-weight: 300; /*"espessura da fonte"*/
}

.copy--primary {
  position: relative;
}

#slider {
  background-color: #000;
  color: #fff;
}

.slide {
  position: relative;
  height: calc(100vh - 7.75rem);
}

.slide__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Mobile */
.slide__copy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  align-items: center;
  text-align: center;
}

.slide__copy span {
  display: block;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .slide__copy {
    padding-left: 50vw;
    text-align: unset;
  }

  .slide__copy span {
    display: inline;
  }
}

.slide__copy h6 {
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  margin: 0;
}

.slide__copy h2 {
  font-size: 3.25rem;
  text-transform: uppercase;
  line-height: 3.25rem;
}

@media screen and (min-width: 1280px) {
  .slide__copy h2 {
    font-size: 6.25rem;
    line-height: 6.25rem;
  }
}

.slide__copy h2 span {
  display: block;
}

.btn {
  padding: 1rem 2.5rem; /**/
  border: 0.125rem solid #fff;
  border-radius: 1.625rem; /*26pixels/16 = 1.625*/
  color: var(--color-primary);
  background: unset; /*Recetar a cor para o valor mais neutro*/
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase; /*caixa alta*/
  transition: 0.5s all ease; /*Controla as animações do botão*/
  width: 15rem;
  height: 4rem;
  border: 2px solid var(--color-primary);
  padding: 1rem;
}

/*Seletor para mais de um caso*/
.btn:hover,
.btn:active,
.btn:focus {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #fff;
}

#counter {
  background-color: var(--color-primary);
  color: white;
  text-transform: uppercase;
}

.counter__container {
  display: grid; /*distanciou uma grid da outra e movou para baixo*/
  grid-template-columns: repeat(
    auto-fill,
    minmax(600px, 1fr)
  ); /*Dividiu o texto + de 500 eventos em 3 partes*/
  place-items: center; /*centralizou as gris com os textos no meio da tela*/
  margin: 0;
  padding: 4.375rem 1rem;
}

.counter__container h3 {
  font-size: 2.1875rem;
}

.counter__container h3 small {
  display: block;
  font-size: 1.25rem;
}

.institutional {
  display: grid;
  grid-template-columns: auto auto;
  gap:3.125rem;
  align-items: center;
  padding: 4.375rem;
}

.institutional__image{
  padding-left: 11rem;
}

.institutional__copy{
  padding:0 1.875rem;
}

.institutional__copy h6{
  font-size:  0.875rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0;
}

.institutional__copy h4{
  font-size: 1.5625rem;
  margin-top: 1rem;
}

.institutional p {
  font-size: 1.0625rem;
  line-height: 1.6875rem;
}


